/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   responsive.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: glarivie <glarivie@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2015/09/22 15:20:56 by glarivie          #+#    #+#             */
/*   Updated: 2015/09/22 15:21:41 by glarivie         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("https://t2.ftcdn.net/jpg/00/26/31/01/500_F_26310171_TR2Jn8yKsZ3ckyFny5rkTzWl22RQ2wKM.jpg");
    background-position: center center;
    background-repeat: repeat;
}

h2 {
    color: #000;
    font-size: 3vw;
    background-color: #FFF;
    border: 1px solid #000;
    font-family: sans-serif;
}

h1 {
    color: #000;
    font-size: 2.5vw;
    margin: 0;
    font-family: monospace;
}

h3 {
    font-size: 1vw;
    color: #bbb;
}

.heigth {
    text-align: right;
    font-size: 0.7vw;
}

.symbol {
    text-align: left;
    font-size: 1vw;
}

.atom {
    text-align: center;
    font-size: 1vw;
}

.cells {
    font-family: sans-serif;
    border: 1px solid #000;
    width: 5%;
}

#space {
    height: 20%;
}
