<div class="container-fluid userpage">
	<div class="jumbotron center-block">
		<form autocomplete="off">
			<h2 class="text-center"><i class="fa fa-question" aria-hidden="true"></i> Forgot password ?</h2>
			<small class="text-center">Enter your mail address to reset your password.</small>
			<small class="text-center"><strong>All fields are required.</strong></small>

			<span class="part">Forgot password</span>
			<hr />

			<div class="row section">
				<div class="col-md-6 col-xs-12">
					<div class="form-group mail-field">
						<label for="mail">Mail</label>
						<input type="text" class="form-control" id="mail" placeholder="Mail" autocomplete="off" required />
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<button id="forgot-btn" type="button" class="btn btn-primary" disabled><i class="fa fa-envelope" aria-hidden="true"></i> Send me instructions</button>
					<small class="text-center text-muted">I just remember my password. <a href="/users/login">Login</a> !</small>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/mylib.js"></script>
<script type="text/javascript" src="/js/forgot-password.js"></script>
