<div class="container-fluid homepage">
	<div class="jumbotron center-block">
		<h1>HYPER<strong>TUBE</strong></h1>
		<a href="/users/register" class="btn btn-primary btn-lg">Register</a>
		<a href="/users/login" class="btn btn-link btn-lg">Login</a>
	</div>
</div>
