<div class="container-fluid library">
	<div class="col-md-12 moviesList">
		<div class="row thumbnails" id="getMovies"></div>
	</div>
</div>

<script type="text/javascript" src="/js/library.js"></script>
