<div class="container-fluid matcha-home">
	<div class=" matcha-inscription">
		<div class="jumbotron center-block">
			<h1>MAT<strong>CHA</strong></h1>

			<form id="home-forgot" data-id="{{id}}">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<label for="instructions">Set a new password</label>
						<p id="instructions">Use the field bellow to set a new password for your Matcha account and try to login again on our home page.</p>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="form-group">
							<label for="newPassword">New password</label>
							<input type="password" class="form-control" id="newPassword" placeholder="Password">
						</div>
						<button id="reset-button" type="button" class="btn btn-default" disabled><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp; Set my new password</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
