.comments {
	.btn {
		margin-top: 10px;
		width: 100%;
	}

	#comments-list {
		.comment-block {
			.comment-error {
				float: right;
				position: relative;
				top: -18px;
				right: 2px;
			}

			.avatar {
				//display: inline-block;
				//vertical-align: top;
				width: 60px;
				height: 60px;
				background-size: cover;
				float: left;
			}

			.content {
				//display: inline-block;
				//vertical-align: top;
				//width: 91%;

				.delete-comment {
					cursor: pointer;
				}

				.text {
					//background-color: #EFEFEF;
					width: 100%;
				}
			}

			.panel {
				position:relative;
				float: right;
				width: 88%;
			}

			.panel>.panel-heading:after,.panel>.panel-heading:before{
				position:absolute;
				top:11px;left:-16px;
				right:100%;
				width:0;
				height:0;
				display:block;
				content:" ";
				border-color:transparent;
				border-style:solid solid outset;
				pointer-events:none;
			}

			.panel>.panel-heading:after{
				border-width:7px;
				border-right-color:#f7f7f7;
				margin-top:1px;
				margin-left:2px;
			}

			.panel>.panel-heading:before{
				border-right-color:#ddd;
				border-width:8px;
			}
		}
	}
}
